body {
  background-color:#f3f4f6;
}

.nav,
.content-cont,
.inner-comments {
  justify-content: center;
  align-items: center;
}

.content-cont {
  flex-wrap: wrap;
}

.active {
  background-color: rgb(0, 0, 0.5);
  position: fixed;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 10%;
  bottom: 50%;
  right: 10%;
  width: 80%;
  height: 100%;
  box-shadow: 2px 2px 5px black;
  background-color: #fff;
  padding: 10px 20px;
  z-index: 500;
}

.close {
  font-size: 3rem;
  font-weight: 400;
  color: black;
}

img {
  width: 100%;
}

.img1 {
  margin: 1.2rem;
  min-width: 20%;
  min-height: 20%;
}

.container {
  justify-content: space-around;
  align-items: center;
}

.form-control {
  border-radius: 8px;
}

.form,
.comments-rsvp {
  flex-direction: column;
}
